<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417042433146-6je2shn6sujj595ded0dcmluriiiqcjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417042433146-6je2shn6sujj595ded0dcmluriiiqcjk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417042433146-58s3q3jahckon5uvd1h6ibsnv0vumlo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaZQfmE0G4vIHWIwDzRuG2lxHNItwgczk</string>
	<key>GCM_SENDER_ID</key>
	<string>417042433146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kartalinc.tdpel</string>
	<key>PROJECT_ID</key>
	<string>tdpelapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tdpelapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417042433146:ios:974aedf79c28ab3862e7c3</string>
</dict>
</plist>